<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
        margin-top: 50px;
    }
  </style>
</head>
<body>
<div th:insert="blocks/header"></div>
<div class="container">
  <h2>Пользователи</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.first_name}"></td>
      <td th:text="${user.last_name}"></td>
      <td>
        <form th:action="@{/users/update}" method="post" th:object="${user}">
          <input type="hidden" name="id" th:value="${user.id}">
          <input type="email" class="form-control" name="email" th:value="${user.email}" required>
          <input type="password" class="form-control" name="password" th:value="${user.password}" required>
          <input type="text" class="form-control" name="first_name" th:value="${user.first_name}" required>
          <input type="text" class="form-control" name="last_name" th:value="${user.last_name}" required>
          <button type="submit" class="btn btn-primary">Обновить</button>
        </form>
        <form th:action="@{/users/delete}" method="post">
          <input type="hidden" name="id" th:value="${user.id}">
          <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <h3>Добавить Пользователя</h3>
  <form th:action="@{/users/add}" method="post" th:object="${user}">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required>
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>
    </div>
    <div class="form-group">
      <label for="first_name">Имя</label>
      <input type="text" class="form-control" id="first_name" name="first_name" th:field="*{first_name}" required>
    </div>
    <div class="form-group">
      <label for="last_name">Фамилия</label>
      <input type="text" class="form-control" id="last_name" name="last_name" th:field="*{last_name}" required>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>
</div>
</body>
</html>